.BadgeDetails {
 margin-top: 2rem;
 padding: 0;
}

.BadgeDetails__hero {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .BadgeDetails__hero {
    display: block;
  }
}