.BadgeEdit__hero {
  margin-top: 2rem;
}

@media screen and (max-width: 768px) {
  div .BadgeDetails__hero {
    padding: 1rem 0;
    text-align: center;
  }
  
  .Badge_section-info h3 {
    font-size: 1rem;
  }

  .col {
    text-align: center;
  }

  .row {
    margin-bottom: 10px;
  }
}
