.BadgesList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.BadgesListItem {
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  padding: 2.5rem 1rem 1.5rem;
  margin: 2.3rem 0;
  position: relative;
  max-width: 400px;
  width: 100%;
  border: 1px solid #d2d2d2;
}

.BadgesList ul > li {
  margin-bottom: 1rem;
}


.BadgesListItem__avatar {
  border-radius: 50%;
  background: #a3a3a3;
  margin-right: 0.5rem;
  width: 80px;
  height: 80px;
  position: absolute;
  top: -50px;
  border: 1px solid black;
}

.Twitter__name {
  color: #1da1f2;
}
.Twitter__logo {
  display: inline-block;
  height: 1.5rem;
  vertical-align: middle;
}

.BadgesListItem a {
  width: 100%;
}
