.Badges__container {
  width: 100%;
  max-width: 580px;
  margin: 0 auto;
  padding: 0 0.5rem;
  margin-top: 20px;
}

.Badges__buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
